<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MewShop</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" type="image/png" href="/img/logo/logopage.png">
</head>
<body>
    <div class="container">
        <header>
            <a href="/home"><img class="banner" src="/img/logo/logo.png"></a>
            <h1>MewShop</h1>
            <div class="search-container">
                <input type="text" id="search-bar" placeholder="Tìm kiếm..." oninput="search()">
                <button id="search-button">
                    <img src="/img/logo/search.png">
                </button>
            </div>
            <div class="alert">
                <img class="nohover" src="/img/logo/alert.svg">
                <img class="hover" src="/img/logo/alerthover.svg">
                <span class="alerts">0</span>
            </div>
            <div class="shopping">
                <img class="nohover1" src="/img/logo/bagshopping.svg">
                <img class="hover1" src="/img/logo/bagshoppinghover.svg">
                <span class="quantity">0</span>
            </div>
            <div class="user-account">
                <img src="/img/logo/avatar.svg">
            </div>
        </header>
        <div class="list"></div>
    </div>
    <div class="card">
        <div class="titlecard">Giỏ hàng</div>
        <div class="logocard"><img src="/img/logo/bag.png"></div>
        <p>Đăng nhập để xem Giỏ hàng</p>
        <div class="loginalert">
            <a href="/login"><div>Đăng nhập</div></a>
            <a href="/register"><div>Đăng ký</div></a>
        </div>
    </div>
    <div class="tabalert">
        <div class="titlealert">Thông báo</div>
        <div class="logoalert"><img src="/img/logo/alert.png"></div>
        <p>Đăng nhập để xem Thông báo</p>
        <div class="loginalert">
            <a href="/login"><div>Đăng nhập</div></a>
            <a href="/register"><div>Đăng ký</div></a>
        </div>
    </div>
    <div class="carduser">
        <a href="/login"><div class="username"><img src="/img/logo/login.png"><%= username%></div></a>
        <a href="/register"><div class="logout" ><img src="/img/logo/signup.png">Đăng ký</div></a>
    </div>
<script>
var bookArray = <%- JSON.stringify(books) %>;
</script>   
<script src="/js/home.js"></script>
</body>
</html>