<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MewShop</title>
    <link rel="stylesheet" href="/css/sigin.css">
    <link rel="shortcut icon" type="image/png" href= "/img/logo/logopage.png">
</head>
<body>
    <section>
        <div class="login">
            <div class="title">Chào mừng đến MewShop</div>
            <div class="group">
                <input type="text" id="username"
                    placeholder="Tên người dùng">
            </div>
            <div class="group">
                <input type="password" id="password"
                    placeholder="Mật khẩu">
                <span id="showPassword">
                    <ion-icon name="eye-outline"></ion-icon>
                    <ion-icon name="eye-off-outline"></ion-icon>
                </span>
            </div>
            <div class="recovey">
                <p>Quên mật khẩu? <a href="/repass">Đặt lại mật khẩu</a></p>
            </div>
            <div class="signIn">
                <button type="submit">Đăng nhập</button>
            </div>
            <div class="register">
                Chưa có tài khoản? <a href="/register">Đăng ký</a>
            </div>
        </div>
        
    </section>
<script src="/js/login.js"></script>
<script type = "module" src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" > </script> 
<script nomodule src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>