<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heimer</title>
    <link rel="stylesheet" href="/css/pay.css">
    <link rel="shortcut icon" type="image/png" href= "/img/logo/logopage.png">
    
</head>
<body>
    <section>
            <div class="title"><a href="/home"><h1>MewShop |</h1></a><p>Thanh toán</p></div>
        <div class="login">
            <table>
                <h2>THÔNG TIN KHÁCH HÀNG</h2>
                <div class="group">
                    <input type="text" id="name"
                        placeholder="Enter yourname">
                </div>
                <div class="group">
                    <input type="text" id="address"
                        placeholder="Enter address">
                </div>
                <div class="group">
                    <input type="tel" id="phone"
                        placeholder="Enter your phone number">
                </div>
                <div class="signIn">
                    <button type="submit">Thanh toán</button>
                </div>
            </table>
            
        </div>
        <div class="giohang">Đang cập nhật giỏ hàng</div>
    </section>
<script src="/js/pay.js"></script>
<script type = "module" src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" > </script> 
<script nomodule src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>